<ion-view view-title="" align-title="left" class="center-position">

    <ion-content style="background: url(img/material-background.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Somos Global</h1>
            </div>
        </div>
        <!--div class="list">
            <ion-md-input placeholder="Usuario" highlight-color="balanced" type="text" ng-model="user.email"></ion-md-input>
            <ion-md-input placeholder="Clave" highlight-color="energized" type="password" ng-model="user.password"></ion-md-input>
        </div>
        <div class="padding">
            <button class="button button-full button-positive ink" ng-click="loginUser(user);">Enviar</button>
            <button class="button button-full button-positive ink" ui-sref="app.register">Registrarse</button>
        </div-->
        <div class="list">
        </div>
        <div class="button-container">
            <div class=" social-login">
                <button class="button button-small button-border icon-left ion-social-facebook button-positive " ng-click="fbLogin();">Facebook</button>
                </br>
                </br>
                </br>
                <button class="button button-small button-border  button-positive " ng-click="visitanteLogin();">Visitante</button>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>
                <button class="button button-small button-border  button-positive " ui-sref="app.register" >Nuevo Usuario</button><!--  -->
                <!--<button class="button button-small button-border icon-left ion-social-google button-assertive-900" ng-click="googleLogin();">Google+</button>-->
            </div>
            
        </div> 
    </ion-content>
    
</ion-view>